.env
.srv
.cursor
deploy.sh
# dbdump.sql
backup-db
wp-content/*
!wp-content/mu-plugins
# !wp-content/uploads
!wp-content/themes/
wp-content/themes/index.php
wp-content/themes/twentytwentyone
wp-content/themes/twentytwentytwo
wp-content/themes/twentytwentythree
wp-content/themes/twentytwentyfour
wp-content/themes/twentytwentyfive
vendor/
node_modules/
wp-content/themes/*/composer.lock
wp-content/themes/*/package-lock.json

.DS_Store
__MACOSX